model filter=lfs diff=lfs merge=lfs -text
kernel filter=lfs diff=lfs merge=lfs -text
kernel/conv_16_32.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_4_16.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_4_32.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_4_64.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_8_16.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_8_32.aocx filter=lfs diff=lfs merge=lfs -text
kernel/conv_16_16.aocx filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det2.caffemodel filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det2_input.prototxt filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det3.caffemodel filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det3_input.prototxt filter=lfs diff=lfs merge=lfs -text
model/weights.dat filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det3.prototxt filter=lfs diff=lfs merge=lfs -text
model/center_face.caffemodel filter=lfs diff=lfs merge=lfs -text
model/center_face_deploy.prototxt filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det1.caffemodel filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det1.prototxt filter=lfs diff=lfs merge=lfs -text
model/MTCNN_det2.prototxt filter=lfs diff=lfs merge=lfs -text
